# BD
POSTGRES_DB=neondb
POSTGRES_DB_PORT=5432
POSTGRES_USER=neondb_owner
POSTGRES_PASSWORD=npg_5ZXpNQMenBr0
POSTGRES_HOST=ep-lingering-shape-alrnrao8.c-3.eu-central-1.aws.neon.tech
# Django
SECRET_KEY=ZcdfElAU7W8NHjU6MwgzwUqLhNsAkFHe
DJANGO_SETTINGS_MODULE=newspaper_agency.settings.prod
