{% extends "base.html" %}

{% block content %}
  <h1>
    {{ topic.name }}
  </h1>
  <div class="d-flex justify-content-end">
    <a href="{% url 'catalog:topic-update' pk=topic.id %}"
       class="btn btn-primary"
       style="margin-right: 15px !important;">
      Update
    </a>
    <a href="{% url 'catalog:topic-delete' pk=topic.id %}"
       class="btn btn-danger">
      Delete
    </a>
  </div>
  <h3>Newspapers with this topic:</h3>
  {% if topic.newspapers.all %}
    <ul class="list-group">
      {% for newspaper in topic.newspapers.all %}
        <li class="list-group-item">
          <a href="{% url 'catalog:newspaper-detail' pk=newspaper.id %}">
            {{ newspaper.title }}
          </a>
          <p>Published: {{ newspaper.published_date }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="text-warning">No newspapers found for this topic yet.</p>
  {% endif %}
  <button type="button"
          class="btn btn-outline-secondary"
          onclick="window.history.back();"
          style="margin-right: 15px !important;">
    Cancel
  </button>
{% endblock %}
